.dashboard{
    background-color:rgb(176, 176, 176);
    min-height: 100vh;
   
}

.outlet{
    margin: 15px ;
    width: 95%;
    height: auto;
    
}
@media (max-width:992px) {
    .outlet{
        margin: 10px auto;
        width: 90%;
    }
}
@media (max-width:768px) {
    .outlet{
        margin: 10px auto;
        width: 95%;
    }
}
@media (max-width:426px) {
    .outlet{
        margin: 10px auto;
    }
}
